@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: rgba(50 50 50 / 50%);
  --brand-color: #03a9fc;
  --font-color: rgba(255 255 255 / 80%);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#viewDiv canvas {
  filter: saturate(2.5);
}

#viewDiv {
  height: 100%;
  width: 100%;
}

.menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Open Sans", sans-serif;
  color: var(--font-color);
}

.menu header {
  font-size: 2.1rem;
  padding: 3px 0;
  letter-spacing: 3px;
  font-weight: 800;
}

#currentTime {
  font-size: 3rem;
  font-weight: 800;
  color: rgba(255 255 255 / 80%);
}

.date {
  font-size: 0.8rem;
  font-weight: 600;
}

.amPM {
  font-size: 1rem;
}

#calendar > table {
  border-spacing: 2px;
}

#calendar {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.speedSliderContainer {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 0.8rem;
}

#speedSliderDiv {
  width: 150px;
  margin: 0 20px;
}

.day,
th {
  height: 10px;
  width: 40px;
  margin: 5px;
}

th {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
  color: var(--font-color);
}

.day {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.day:hover,
.day.selected {
  border-color: white;
}

.esri-time-slider__row:first-of-type {
  display: none;
}

.esri-time-slider__max,
.esri-time-slider__min {
  visibility: hidden;
}

#timeSliderDiv {
  margin-bottom: 20px;
}

#timeSliderDiv.esri-widget,
#timeSliderDiv .esri-time-slider__slider,
.esri-time-slider__slider .esri-slider,
#timeSliderDiv button {
  background-color: transparent !important;
}

#timeSliderDiv button:hover {
  color: var(--brand-color);
}

.esri-time-slider {
  box-shadow: none !important;
}
